.wp-block[data-align="center"] > .wp-block-hrswp-button {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.wp-block[data-align="right"] > .wp-block-hrswp-button {

	/*!rtl:ignore*/
	text-align: right;
}

.wp-block-hrswp-button {
	position: relative;
	cursor: text;
}

.wp-block-hrswp-button[data-rich-text-placeholder]::after {
	opacity: 0.8;
}

/* stylelint-disable selector-class-pattern */
.wp-block-button__inline-link {
	color: #757575;
	height: 0;
	overflow: hidden;
	max-width: 290px;
}

.wp-block-button__inline-link-input__suggestions {
	max-width: 290px;
}

.is-style-outline > .wp-block-button__link,
.wp-block-button__link.is-style-outline {

	/* Overselected to override WP Core styles. */
	&.has-text-color,
	&.has-background,
	&:not(.has-text-color),
	&:not(.has-background) {
		background-color: #fff;
		color: var(--wp--preset--color--primary-crimson);
	}

}

@media (min-width: 782px) {

	.wp-block-button__inline-link {
		max-width: 260px;
	}

	.wp-block-button__inline-link-input__suggestions {
		max-width: 260px;
	}

}

@media (min-width: 960px) {

	.wp-block-button__inline-link {
		max-width: 290px;
	}

	.wp-block-button__inline-link-input__suggestions {
		max-width: 290px;
	}

}

.is-selected .wp-block-button__inline-link {
	height: auto;
	overflow: visible;
	margin-top: 16px;
}

.wp-button-label__width .components-button-group {
	display: block;
}

.wp-button-label__width .components-base-control__field {
	margin-bottom: 12px;
}

.block-editor-new-tab-checker {
	margin-bottom: 1rem;

	& .components-external-link {
		display: block;
		margin-top: 1em;
	}
}

div[data-type="hrswp/button"] {
	display: table;
}
/* stylelint-enable selector-class-pattern */
