/* stylelint-disable selector-class-pattern */
.components-panel__body.wp-block-hrswp-posts-list.taxonomy-filter {

	& .taxonomy-filter--body {
		border-top: none;
	}

}

.wp-block[data-type="hrswp/posts-list"] {
	font-size: 16px;

	& .wp-block-hrswp-posts-list--heading div {
		display: inline-block;
	}

	& .wp-block-hrswp-posts-list--heading {
		font-size: var(--font-size-3);
		font-weight: 600;
		margin: 0 0 0.25rem;

		& a {
			border-bottom-color: transparent;
			font-weight: inherit;
		}

		& a div {
			display: inline;
		}
	}

	& .is-grid .wp-block-hrswp-posts-list--heading {
		margin: 1rem 0 0.5rem;
	}

	& .wp-block-hrswp-posts-list--meta .wp-block-hrswp-posts-list--post-date {
		margin-bottom: 0;
	}

	& .wp-block-hrswp-posts-list--post-excerpt,
	& .wp-block-hrswp-posts-list--meta p,
	& .wp-block-hrswp-posts-list.is-grid.has-feature-image .wp-block-hrswp-posts-list--featured-image {
		line-height: 1.35;
		margin: 0;
	}

	& .wp-block-hrswp-posts-list--meta .wp-block-hrswp-posts-list--post-date:not(:first-child) {
		margin-top: 0.5rem;
	}

	& .wp-block-hrswp-posts-list:not(.has-full-content) .wp-block-hrswp-posts-list--featured-image {
		margin: 0 1rem 0 0;
	}
}
/* stylelint-enable selector-class-pattern */
