/* stylelint-disable selector-class-pattern */
.components-panel__body.hrswp-block-posts-list.taxonomy-filter {

	& .taxonomy-filter--body {
		border-top: none;
	}

}

.editor-styles-wrapper {

	& .hrswp-block-posts-list {
		font-size: var(--wp--preset--font-size--normal);

		& .is-grid .hrswp-block-posts-list__post-title {
			margin: 1rem 0 0.5rem;
		}

		& .hrswp-block-posts-list__meta p {
			font-size: var(--wp--preset--font-size--small);
		}

		& .hrswp-block-posts-list__post-excerpt,
		& .hrswp-block-posts-list__meta p,
		&.is-grid.has-feature-image .hrswp-block-posts-list__featured-image {
			line-height: 1.35;
			margin: 0;
		}

		& .hrswp-block-posts-list__meta .hrswp-block-posts-list__post-date:not(:first-child) {
			margin-top: 0.5rem;
		}

		&:not(.has-full-content) .hrswp-block-posts-list__featured-image {
			margin: 0 1rem 0 0;
		}
	}

	& .hrswp-block-posts-list__post-title {
		font-size: var(--wp--preset--font-size--medium);
		line-height: 1.2;
		margin: 0 0 0.25rem;

		& a:not(.wp-block-button__link) {
			color: var(--wp--custom--wsu-color-black--90);
			text-decoration: none;

			&:hover,
			&:focus {
				color: var(--wp--preset--color--secondary-crimson);
				text-decoration: underline;
			}
		}

		& a div {
			display: inline;
		}
	}

	& .hrswp-block-posts-list__meta a:not(.wp-block-button__link) {
		color: var(--wp--custom--wsu-color-black--70);
		font-weight: 400;
		text-decoration-color: var(--wp--custom--wsu-color-black--50);
		text-decoration-thickness: 0.1em;
		transition: all 0.2s ease;

		&:hover,
		&:focus {
			color: var(--wp--custom--wsu-color-black--70);
			text-decoration-thickness: 0.2em;
		}
	}

}
/* stylelint-enable selector-class-pattern */
