.hrswp-block-posts-list__list-item {
	margin-bottom: 0.7rem;
	position: relative;
}

.hrswp-block-posts-list.has-full-content .hrswp-block-posts-list__list-item {
	border-bottom: 2px solid var(--wp--custom--wsu-color-black--10);
	margin-bottom: 2em;
	overflow: hidden;
}

.hrswp-block-posts-list__post-title {
	font-size: var(--wp--preset--font-size--medium);
	line-height: 1.2;
	margin: 0 0 0.25rem;
}

/* Highly selected to override theme styles. */
#wsuwp-main .hrswp-block-posts-list .hrswp-block-posts-list__post-title a {
	color: var(--wp--custom--wsu-color-black--90);
	text-decoration: none;

	&:hover,
	&:focus {
		color: var(--wp--preset--color--secondary-crimson);
		text-decoration: underline;
	}
}

.hrswp-block-posts-list.is-grid .hrswp-block-posts-list__post-title {
	margin: 1rem 0 0.5rem;

	& a::after {
		background: none;
	}
}

.hrswp-block-posts-list__body {
	color: var(--wp--custom--wsu-color-black--60);
	display: flex;
	flex-direction: column;
}

.hrswp-block-posts-list__post-excerpt {
	font-size: var(--wp--preset--font-size--normal);
	line-height: 1.35;
}

.hrswp-block-posts-list__meta {
	font-size: var(--wp--preset--font-size--small);
	font-weight: 500;
	line-height: 1.35;
	margin-top: auto;

	& span {
		text-transform: uppercase;
	}

	& .hrswp-block-posts-list__post_tag-list span {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important;
	}
}

/* Highly selected to override theme styles. */
#wsuwp-main .hrswp-block-posts-list__body .hrswp-block-posts-list__meta a:not(.wp-block-button__link) {
	color: var(--wp--custom--wsu-color-black--70);
	font-weight: 400;
	text-decoration-color: var(--wp--custom--wsu-color-black--50);
	text-decoration-thickness: 0.1em;
	transition: all 0.2s ease;

	&:hover,
	&:focus {
		text-decoration-thickness: 0.2em;
	}
}

.hrswp-block-posts-list:not(.is-grid) .hrswp-block-posts-list__meta p:last-child {
	margin-bottom: 0.75rem;
}

.hrswp-block-posts-list.has-full-content .hrswp-block-posts-list__meta,
.hrswp-block-posts-list.has-excerpt .hrswp-block-posts-list__meta {
	padding-top: 1rem;
}

.hrswp-block-posts-list__post-date::before,
.hrswp-block-posts-list__post_tag-list::before {
	background-image: url(icons/tag.svg);
	background-position: center 100%;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 1em;
	margin: 0 0.4em -0.2em 0;
	margin-bottom: -0.2em;
	width: 1em;
}

.hrswp-block-posts-list__post-date::before {
	background-image: url(icons/event.svg);
	margin: 0 0.2em -0.1em 0;
}

.hrswp-block-posts-list__post-excerpt,
.hrswp-block-posts-list__meta p {
	padding: 0;
}

.hrswp-block-posts-list__meta .hrswp-block-posts-list__post-date:not(:first-child) {
	margin-top: 0.5rem;
}

.hrswp-block-posts-list.is-grid .hrswp-block-posts-list__meta .hrswp-block-posts-list__post-date {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.hrswp-block-posts-list.has-excerpt .hrswp-block-posts-list__list-item:not(:first-of-type) {
	padding-top: 1em;
	border-top: 2px solid var(--wp--custom--wsu-color-black--10);
}

.hrswp-block-posts-list:not(.is-grid) .hrswp-block-posts-list__featured-image {

	&.size-thumbnail {
		width: 68px;
	}

	&.size-small {
		width: 91px;
	}

	&.size-medium {
		width: 180px;
	}

	&.size-large {
		width: 60%;
	}

	& img {
		border-radius: 5px;
	}

}

.hrswp-block-posts-list:not(.has-full-content) {

	& .hrswp-block-posts-list__list-item {
		display: flex;
	}

	& .hrswp-block-posts-list__body {
		flex: 1;
	}

	& .hrswp-block-posts-list__featured-image {
		margin-right: 1rem;
	}

	& .hrswp-block-posts-list__featured-image.alignright {
		float: none;
		margin-right: 0;
		margin-left: 1rem;
		order: 2;
	}

	& .hrswp-block-posts-list__featured-image.alignleft {
		float: none;
		margin-right: 1rem;
	}

}

.hrswp-block-posts-list:not(.has-feature-image):not(.is-grid) {

	& .hrswp-block-posts-list__post-title::before {
		border-left: 0.8rem solid var(--wp--preset--color--primary-crimson);
		content: "";
		display: inline-block;
		height: 0.8rem;
		padding-right: 8px;
		opacity: 0.6;
		transition: opacity 0.3s ease;
	}

	& .hrswp-block-posts-list__post-title:hover::before,
	& .hrswp-block-posts-list__post-title:focus::before {
		opacity: 1;
	}

	& .hrswp-block-posts-list__meta,
	& .hrswp-block-posts-list__post-excerpt,
	& .hrswp-block-posts-list__post-full-content {
		padding-left: calc(0.8rem + 8px);
	}

}

.hrswp-block-posts-list.is-grid {
	display: flex;
	flex-flow: row wrap;
	margin-left: -20px;
	margin-right: -20px;

	& .hrswp-block-posts-list__list-item,
	& .hrswp-block-posts-list__list-item:not(:first-of-type) {
		background-color: var(--wp--preset--color--white);
		border: none;
		border-radius: 5px;
		box-shadow:
			0 1px 1px 0 rgba(66, 66, 66, 0.08),
			0 1px 3px 1px rgba(66, 66, 66, 0.16);
		flex-direction: column;
		min-height: 150px;
		max-width: 600px;
		overflow: hidden;
		padding: 0;
		margin: 10px;
		transition: box-shadow 135ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
		width: 100%;

		&:hover,
		&:focus {
			box-shadow:
				0 1px 3px 1px rgba(66, 66, 66, 0.2),
				0 2px 8px 4px rgba(66, 66, 66, 0.1);
		}
	}

	&.has-feature-image .hrswp-block-posts-list__featured-image {
		margin: 0;
	}

	&.has-feature-image .hrswp-block-posts-list__featured-image.size-thumbnail {
		margin: 1em 0 0 1.5em;
	}

	&.has-feature-image .hrswp-block-posts-list__featured-image.alignright {
		align-self: flex-end;
		order: initial;
	}

	&.has-feature-image .hrswp-block-posts-list__featured-image.aligncenter {
		align-self: center;
	}

	& .hrswp-block-posts-list__body {
		padding: 0 1.5rem;
	}

}

.hrswp-block-posts-list.is-grid:not(.has-date) .hrswp-block-posts-list__list-item {
	padding-bottom: 1.5rem;
}

.hrswp-block-posts-list.is-grid .hrswp-block-posts-list__body:first-child .hrswp-block-posts-list__post-title {
	padding-top: 1em;
}

@media (min-width: 576px) {

	.hrswp-block-posts-list.is-grid,
	.hrswp-block-posts-list.is-grid.columns-1,
	.hrswp-block-posts-list.is-grid.columns-2,
	.hrswp-block-posts-list.is-grid.columns-3,
	.hrswp-block-posts-list.is-grid.columns-4,
	.hrswp-block-posts-list.is-grid.columns-5,
	.hrswp-block-posts-list.is-grid.columns-6 {

		& .hrswp-block-posts-list__list-item {
			width: calc(100% / 2 - 20px);
		}

	}

}

@media (min-width: 768px) {

	.hrswp-block-posts-list.is-grid.columns-3,
	.hrswp-block-posts-list.is-grid.columns-4,
	.hrswp-block-posts-list.is-grid.columns-5,
	.hrswp-block-posts-list.is-grid.columns-6 {

		& .hrswp-block-posts-list__list-item {
			width: calc(100% / 3 - 20px);
		}

	}

}

@media (min-width: 900px) {

	.hrswp-block-posts-list.is-grid.columns-4,
	.hrswp-block-posts-list.is-grid.columns-5,
	.hrswp-block-posts-list.is-grid.columns-6 {

		& .hrswp-block-posts-list__list-item {
			width: calc(100% / 4 - 20px);
		}

	}

}

@media (min-width: 1386px) {

	.hrswp-block-posts-list.is-grid.columns-5 {

		& .hrswp-block-posts-list__list-item {
			width: calc(100% / 5 - 20px);
		}

	}

	.hrswp-block-posts-list.is-grid.columns-6 {

		& .hrswp-block-posts-list__list-item {
			width: calc(100% / 6 - 20px);
		}

	}

}
