<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards">
	<description>Sniffs for WordPress plugins.</description>

	<!-- Ignore WP Scripts-generated asset files. -->
	<exclude-pattern>*/build/*asset.php*</exclude-pattern>

	<!-- Ignore third-party code. -->
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<!-- Ignore filenames -->
	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName"/>
	</rule>

	<!-- Loads the PHP Compatibility ruleset. -->
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress-Core"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="WordPress.WP.I18n"/>

	<arg value="ps"/>
	<arg name="extensions" value="php"/>
	<arg name="basepath" value="./"/>
	<arg name="parallel" value="20"/>

	<!-- Sets the minimum supported PHP version to 7.4, which is also WordPress's. -->
	<config name="testVersion" value="7.4-"/>

	<!-- Sets the minimum supported WP version to 5.0. -->
	<config name="minimum_supported_wp_version" value="5.0" />

	<!-- Defines the valid textdomain options. -->
	<config name="text_domain" value="hrswp-blocks,default"/>
</ruleset>
