.wp-block-hrswp-sidebar .wp-block {
	max-width: none;
	margin-left: 0;
	margin-right: 0;
}

/* Individual columns do not have top and bottom margins on the frontend.
 * Needs specificity.
 */
.block-editor-block-list__block.wp-block-hrswp-sidebar.wp-block-column {
	margin-top: 0;
	margin-bottom: 0;
}
