.wp-block-hrswp-filter-section.filtering-active :not(.show) {
	display: none;
}

.wp-block-hrswp-filter-section.filtering-active .show [data-markjs="true"] {
	display: inline;
}

/* If a figure element is visible then its child image should be too. */
.wp-block-hrswp-filter-section.filtering-active figure.show img {
	display: inline-block;
}

/* Special rules to make table filtering a little more graceful. */
.wp-block-hrswp-filter-section.filtering-active table.show thead {
	display: table-header-group;
}

.wp-block-hrswp-filter-section.filtering-active table.show thead tr {
	display: table-row;
}

.wp-block-hrswp-filter-section.filtering-active table.show thead th,
.wp-block-hrswp-filter-section.filtering-active tr.show td {
	display: table-cell;
}

.wp-block-hrswp-filter-section.filtering-active tr.show td * {
	display: unset;
}
