.wp-block[data-type="hrswp/accordions"][data-align="wide"] .wp-block {
	max-width: 100%;
}

.wp-block-hrswp-accordions {

	& .wp-block-hrswp-accordion-section {
		border-bottom: 1px solid rgba(0, 0, 0, 0.25);

		& > *:not([data-type="hrswp/accordion-heading"]) {
			padding-left: 1em;
		}

		& > .block-list-appender {
			margin-bottom: 1rem;
			position: relative;
		}
	}

	& [data-type="hrswp/accordion-heading"] {
		background-color: #f7f7f7;
		border-left: 5px solid var(--wp--preset--color--secondary-crimson);
		font-size: var(--wp--preset--font-size--normal);
		line-height: 1.4;
		margin: 1.5rem 0;
		padding: 0.5rem 0.75rem;
	}
}
