.block-editor-block-list__block[data-type="hrswp/spacer"] {

	&::before {
		content: "";
		display: block;
		position: absolute;
		z-index: 1;
		width: 100%;
		min-height: 1em;
		min-width: 1em;
		height: 100%;
	}

}

.wp-block-hrswp-spacer.is-hovered .block-library-spacer__resize-container,
.block-library-spacer__resize-container.has-show-handle {
	background: rgba(0, 0, 0, 0.1);
}

.block-library-spacer__resize-container {
	clear: both;

	& .components-resizable-box__handle::before {
		content: none;
	}

	&.resize-horizontal {
		margin-bottom: 0;
	}
}
