.editor-styles-wrapper .wp-block-hrswp-accordion .accordion-panel-heading {
	font-size: 18px;
	line-height: 1.4;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.wp-block-hrswp-accordion .accordion-panel {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	padding-bottom: 1.5em;
}

div[data-type="hrswp/accordion-panel"]:first-of-type > .accordion-panel-heading {
	border-top: none;
}

.wp-block-buttons.controls {
	display: flex;
	justify-content: flex-end;
	opacity: 0.5;
}

/* stylelint-disable selector-class-pattern */
.wp-block-buttons.controls .wp-block-button__link {
	font-weight: 400;
	padding: 0.25em 0.5em;
	text-transform: none;
}
/* stylelint-enable selector-class-pattern */

.wp-block[data-type="hrswp/accordion"][data-align="wide"] .wp-block {
	max-width: 100%;
}
