.hrswp-list-awards-block .awards-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
}

.hrswp-list-awards-block .award-item {
	background-color: var(--wp--preset--color--light);
	border-radius: 1em;
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	margin: 0 0 3em 0;
	position: relative;
	overflow: hidden;
}

.hrswp-list-awards-block .award-item figure {
	align-self: center;
	margin-bottom: 0.5em;
}

.hrswp-list-awards-block .award-title,
.hrswp-list-awards-block .award-description {
	padding-right: 1rem;
	padding-left: 1rem;
}

.hrswp-list-awards-block .award-title {
	color: var(--wp--preset--color--primary-crimson);
	font-size: var(--wp--preset--font-size--medium);
	font-weight: 600;
	line-height: 1.2;
	padding-bottom: 0.25em;
}

.hrswp-list-awards-block .award-description {
	font-size: var(--wp--custom--typography--tiny);
	padding-bottom: 3rem;
}

.hrswp-list-awards-block .award-meta {
	bottom: 0;
	background: var(--wp--preset--color--primary-crimson);
	color: var(--wp--preset--color--light);
	font-size: var(--wp--preset--font-size--small);
	padding: 0.25em;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

@media (min-width: 34em) {

	.hrswp-list-awards-block .award-item {
		margin-right: 2em;
	}

	.hrswp-list-awards-block.has-2-columns .award-item {
		flex-basis: calc((100% / 2) - 1.25rem);
	}

	.hrswp-list-awards-block.has-3-columns .award-item {
		flex-basis: calc((100% / 3) - 1.5rem);
	}

	.hrswp-list-awards-block.has-4-columns .award-item {
		flex-basis: calc((100% / 4) - 1.75rem);
	}

	.hrswp-list-awards-block.has-5-columns .award-item {
		flex-basis: calc((100% / 5) - 1.85rem);
	}

	.hrswp-list-awards-block.has-6-columns .award-item {
		flex-basis: calc((100% / 6) - 1.9rem);
	}

	.hrswp-list-awards-block.has-2-columns .award-item:nth-child(2n),
	.hrswp-list-awards-block.has-3-columns .award-item:nth-child(3n),
	.hrswp-list-awards-block.has-4-columns .award-item:nth-child(4n),
	.hrswp-list-awards-block.has-5-columns .award-item:nth-child(5n),
	.hrswp-list-awards-block.has-6-columns .award-item:nth-child(6n) {
		margin-right: 0;
	}

}

@supports (position: sticky) {

	.hrswp-list-awards-block .award-item figure {
		align-items: flex-end;
		display: flex;
		justify-content: flex-start;
	}

	.hrswp-list-awards-block.is-cropped .awards-list .award-item img {
		flex: 1;
		height: 100%;
		object-fit: cover;
	}

}

@media (min-width: 34em) {

	.hrswp-list-awards-block .award-item:last-child {
		margin-right: 0;
	}

	.hrswp-list-awards-block.is-style-list .awards-list {
		display: block;
	}

	.hrswp-list-awards-block.is-style-list .award-item {
		align-items: center;
		flex-flow: row nowrap;
		margin-right: 0;
	}

	.hrswp-list-awards-block.is-style-list .award-item figure {
		margin-bottom: 0;
	}

	.hrswp-list-awards-block.is-style-list .award-description {
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.hrswp-list-awards-block.is-style-list .award-meta {
		padding: 0.25em 1em;
		right: 0;
		width: auto;
	}

}
