.wp-block > .wp-block-hrswp-buttons {
	display: flex;
	flex-wrap: wrap;
}

.wp-block-hrswp-buttons > .wp-block {
	margin-left: 0;
}

.wp-block-hrswp-buttons > .block-list-appender {
	display: inline-flex;
	align-items: center;
}

.wp-block-hrswp-buttons.is-vertical > .block-list-appender .block-list-appender__toggle {
	justify-content: flex-start;
}

.wp-block-hrswp-buttons > .wp-block-hrswp-button:focus {
	box-shadow: none;
}

.wp-block-hrswp-buttons:not(.is-content-justification-space-between, .is-content-justification-right, .is-content-justification-left, .is-content-justification-center) .wp-block[data-align="center"] {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 100%;
}

.wp-block-hrswp-buttons:not(.is-content-justification-space-between, .is-content-justification-right, .is-content-justification-left, .is-content-justification-center) .wp-block[data-align="center"] .wp-block-hrswp-button {
	margin-bottom: 0;
}

.wp-block[data-align="center"] > .wp-block-hrswp-buttons {
	align-items: center;
	justify-content: center;
}

.wp-block[data-align="right"] > .wp-block-hrswp-buttons {
	justify-content: flex-end;
}

.wp-block-hrswp-buttons.has-position-support {

	&.is-position-top-left,
	&.is-position-center-left,
	&.is-position-bottom-left {
		left: 2rem;
	}

	&.is-position-bottom-left,
	&.is-position-bottom-center,
	&.is-position-bottom-right {
		margin-bottom: 2rem;
	}

}

.is-sidebar-opened .wp-block-hrswp-buttons.has-position-support {

	&.is-position-top-center,
	&.is-position-top-right,
	&.is-position-center-center,
	&.is-position-center-right,
	&.is-position-bottom-center,
	&.is-position-bottom-right {
		transform: translateX(-281px);
	}

}

@media (min-width: 782px) {

	.wp-block-hrswp-buttons.has-position-support {

		&.is-position-top-center,
		&.is-position-top-left,
		&.is-position-top-right {
			top: 5rem;
		}

	}

}
