.wp-block-hrswp-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	&.is-vertical {
		flex-direction: column;

		& > .wp-block-hrswp-button:last-child {
			margin-bottom: 0;
		}
	}

	& > .wp-block-hrswp-button {
		display: inline-block;
		margin: 0;
	}

	&.is-content-justification-left {
		justify-content: flex-start;

		&.is-vertical {
			align-items: flex-start;
		}
	}

	&.is-content-justification-center {
		justify-content: center;

		&.is-vertical {
			align-items: center;
		}
	}

	&.is-content-justification-right {
		justify-content: flex-end;

		&.is-vertical {
			align-items: flex-end;
		}
	}

	&.is-content-justification-space-between {
		justify-content: space-between;
	}

	/* Kept for backward compatibility. */
	&.aligncenter {
		text-align: center;
	}

}

.wp-block-hrswp-buttons:not(.is-content-justification-space-between, .is-content-justification-right, .is-content-justification-left, .is-content-justification-center) .wp-block-hrswp-button.aligncenter {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* Legacy buttons that did not come in a wrapping container. */
.wp-block-hrswp-button.aligncenter {
	text-align: center;
}
