.wp-block-hrswp-notification {
	align-items: center;
	border: 5px solid var(--neutral-dark);
	border-left-width: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding: 0.75em 1em;
}

.wp-block-hrswp-notification p {
	max-width: 100%;
	margin-right: auto;
}

.wp-block-hrswp-notification img {
	float: left;
	margin-right: 0.5em;
}

@media (min-width: 43em) {

	.wp-block-hrswp-notification {
		flex-wrap: nowrap;
	}

	.wp-block-hrswp-notification p {
		padding: 0;
	}

	.wp-block-hrswp-notification.has-action-button p {
		max-width: 70%;
	}

	.wp-block-hrswp-notification .wp-block-button {
		margin: 0 0 0 1em;
	}

}

.is-style-positive {
	border-color: var(--accent-green);
}

.is-style-caution {
	border-color: var(--accent-yellow);
}

.is-style-warning {
	border-color: var(--accent-orange);
}
