.wp-block-hrswp-notification {
	align-items: center;
	background-color: var(--wp--custom--wsu-color-black--5);
	border-radius: 8px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	overflow: hidden;
	padding: 2rem 2rem 2rem 2.5rem;
	position: relative;

	&::before {
		background-color: var(--wp--preset--color--primary-crimson);
		border-radius: 1000px;
		content: "";
		height: 10px;
		left: 12px;
		position: absolute;
		top: 12px;
		width: 10px;
	}

	&.is-style-positive::before {
		background-color: var(--wp--custom--wsu-color-accent--vineyard);
	}

	&.is-style-caution::before {
		background-color: var(--wp--custom--wsu-color-accent--goldfinch);
	}

	&.is-style-warning::before {
		background-color: var(--wp--custom--wsu-color-accent--autumn);
	}
}

.wp-block-hrswp-notification p {
	max-width: 100%;
	margin-right: auto;
}

.wp-block-hrswp-notification img {
	float: left;
	margin-right: 0.5em;
}

@media (min-width: 43em) {

	.wp-block-hrswp-notification {
		flex-wrap: nowrap;
	}

	.wp-block-hrswp-notification p {
		padding: 0;
	}

	.wp-block-hrswp-notification.has-action-button p {
		max-width: 70%;
	}

	.wp-block-hrswp-notification .wp-block-button,
	.wp-block-hrswp-notification .wp-block-hrswp-button {
		margin: 0 0 0 1em;
	}

}
