.wp-block-hrswp-callout {
	background-color: var(--wp--custom--wsu-color-black--5);
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding: 3rem 2.5rem;
	position: relative;

	&::before {
		background-color: var(--wp--preset--color--primary-crimson);
		content: "";
		display: block;
		height: 1rem;
		left: 0;
		max-width: 8em;
		position: absolute;
		top: 0;
		width: 8vw;
	}

	& > p,
	& > h2,
	& > h3,
	& > h4 {

		&:first-of-type {
			border-bottom: 4px solid var(--wp--custom--wsu-color-black--20);
			font-weight: 900;
			margin: 0 0 0.75em;
			padding: 0 0 0.5em;
		}

	}

	&.is-style-positive::before {
		background-color: var(--wp--custom--wsu-color-accent--vineyard);
	}

	&.is-style-caution::before {
		background-color: var(--wp--custom--wsu-color-accent--goldfinch);
	}

	&.is-style-warning::before {
		background-color: var(--wp--custom--wsu-color-accent--autumn);
	}
}
