[data-type="hrswp/search-filter"].is-selected .editor-inner-blocks,
[data-type="hrswp/search-filter"].has-child-selected .editor-inner-blocks {
	padding-right: 14px;
	padding-left: 14px;
}

[data-type="hrswp/search-filter"].is-selected [data-type="hrswp/search-filter-section"],
[data-type="hrswp/search-filter"].has-child-selected [data-type="hrswp/search-filter-section"] {
	padding-bottom: 1px;
}
